.search_style{
    display:block;
    position: fixed;
    top: 32px;
    left: 10rem;
    z-index: 50;
}
/*.search_style:focus-visible{*/
/*    display:block;*/
/*    position: fixed;*/
/*    top: 32px;*/
/*    left: 10rem;*/
/*    z-index: 50;*/
/*}*/
